<!-- Hero Section -->
<section class="hero">
  <h1 class="title">
    İşinize Uygun <span class="highlight--blue">Tasarım</span><br>
    <span>VE</span> <span class="highlight--blue">Yazılımlar</span>
  </h1>
  <span class="description">
    360° dijital marka danışmanlığı, web tasarım ve reklam ajansıdır.
  <br>
    İşletmelerin ihtiyaçlarına uygun web tasarım ve web yazılım hizmetleri sunmaktayız.
  </span>
  <div class="hero__button">
    <a href="#" class="button button--hero">Detaylı İncele</a>
  </div>
</section>
