@use "variables" as *;

@mixin responsive($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin tablet {
    @include responsive($tablet) {
        @content;
    }
}
@mixin mobile {
    @include responsive($mobile) {
        @content;
    }
}

  